html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

.kpi-card-container,
.kpi-card,
.kpi-card .kpi-card-title,
.kpi-card .kpi-card-number,
.kpi-card .kpi-card-icon,
.kpi-card .kpi-card-icon img {
  box-sizing: border-box;
}

.kpi-card-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1280px;
  gap: 15px;
  font-size: 10px;
  min-height: 126px;
}

.kpi-card {
  display: flex;
  flex-direction: column-reverse;
  min-width: 215px;
  width: 100%;
  margin-bottom: 15px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  box-shadow: -0.4em 0.4em 0.3em rgba(37, 107, 162, 0.1);
  border-radius: 0.4em;
  padding: 2.2em 2.7em;
  position: relative;
  z-index: 1;
  height: 12.6em;
}

.kpi-card .kpi-card-title,
.kpi-card .kpi-card-number {
  font-family: 'Poppins';
  margin-bottom: 0;
  z-index: 3;
}

.kpi-card .kpi-card-title {
  font-style: normal;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.6em;
  color: #a5a6a8;
}

.kpi-card .kpi-card-number {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 3.7em;
  line-height: 1.3em;
  display: flex;
  align-items: flex-end;
  color: #111122;
  margin-top: 0.15em;
}

.kpi-card .kpi-card-icon {
  position: absolute;
  right: 2.3em;
  top: 2.3em;
  background-color: rgb(152 61 243 / 24%);
  border-radius: 33em;
  padding: 1.6em;
  z-index: 1;
  width: 5.2em;
  height: 5.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kpi-card .kpi-card-icon img {
  width: 100%;
  height: 100%;
}
