html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pill-tabs {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  width: fit-content;
  background: #ffffff;
  border: 1px solid rgba(221, 233, 243, 0.69);
  box-sizing: border-box;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 100em;
  z-index: 1;
  position: relative;
  opacity: 0;
  visibility: hidden;
  user-select: none;
  font-size: 10px;
}
.pill-tabs.initalized {
  opacity: 1;
  visibility: visible;
}
.pill-tabs .flexible-background {
  position: absolute;
  background-color: #256ba2;
  top: 0;
  height: 100%;
  border-radius: 100px;
}
.pill-tabs.initalized .flexible-background {
  transition: all 0.15s ease-in-out;
}
.pill-tabs li {
  cursor: pointer;
  list-style-type: none;
  padding: 0.8em 1.7em;
  font-family: Poppins;
  font-style: normal;
  transition: all 0.1s ease-in-out;
  font-weight: normal;
  font-size: 1.4em;
  line-height: 1.3em;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 100em;
  color: #67696d;
  z-index: 3;
}
.pill-tabs li.active {
  color: white;
}

/*# sourceMappingURL=PillTabs.css.map */
