.one-inc-input-field {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
}
.one-inc-input-field .one-inc-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.one-inc-input-field label,
.one-inc-input-field input {
  font-family: "Poppins";
}
.one-inc-input-field label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}
.one-inc-input-field input,
.one-inc-input-field .clear-button {
  box-sizing: inherit;
  margin: 0;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: white;
  outline: none;
}
.one-inc-input-field input {
  width: 100%;
  border-color: #bfbfbf;
  padding-left: 22px;
  padding-right: 44px;
  border-radius: 40px;
  font-size: 12px;
}
.one-inc-input-field input:focus {
  box-shadow: 0 0 0px 3px rgba(0, 102, 255, 0.25), 0 0 0px 1px rgba(0, 102, 255, 0.6);
}
.one-inc-input-field .clear-button {
  cursor: pointer;
  position: absolute;
  border-color: transparent;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 16px;
  right: 0;
}
.one-inc-input-field .clear-button::after {
  content: "x";
  color: #bfbfbf;
  font-weight: 600;
  font-family: Arial, sans-serif;
  font-size: 11px;
  width: 14px;
  height: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 3px 4px 5px 4px;
  border-radius: 50px;
  transition: all 150ms ease-in-out;
}
.one-inc-input-field .clear-button:hover::after {
  background-color: #e2e2e2;
  color: #5a5a5a;
}

/*# sourceMappingURL=feedbackModal.css.map */
