.one-inc-input-field {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;

  .one-inc-input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  label,
  input {
    font-family: 'Poppins';
  }

  label {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  input,
  .clear-button {
    box-sizing: inherit;
    margin: 0;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: white;
    outline: none;
  }

  input {
    width: 100%;
    border-color: #bfbfbf;
    padding-left: 22px;
    padding-right: 44px;
    border-radius: 40px;
    font-size: 12px;

    &:focus {
      box-shadow: 0 0 0px 3px rgb(0, 102, 255, 0.25), 0 0 0px 1px rgba(0, 102, 255, 0.6);
    }
  }

  .clear-button {
    cursor: pointer;
    position: absolute;
    border-color: transparent;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 16px;
    right: 0;

    &::after {
      content: 'x';
      color: #bfbfbf;
      font-weight: 600;
      font-family: Arial, sans-serif;
      font-size: 11px;
      width: 14px;
      height: 14px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 3px 4px 5px 4px;
      border-radius: 50px;
      transition: all 150ms ease-in-out;
    }

    &:hover::after {
      background-color: #e2e2e2;
      color: #5a5a5a;
    }
  }
}
